/* For debug */
*{
  border: 1px solid blue;
}

/* The counter at the center of the page */
html, body, section, #counter-container{
  height: 100%;
}

/* Place the conatiners */
#counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#counter-action, #counter-reset {
  display: flex;
  align-items: center;
}

/* Set text properties */
#counter-title{
  color: red;
  font-size: 60px;
  font-weight: 700;
}

.action-button{
  font-size: 80px;
}

#counter-monitor {
  font-size: 60px;
}

.reset-button {
  font-size: 60px;
}